.calculating_loader__DCbvo {
    clip-path: inset(0 100% 0 0);
    animation: calculating_l1__rwiMm 2s steps(4) infinite
}

@keyframes calculating_l1__rwiMm {
    to {
        clip-path: inset(0 -34% 0 0)
    }
}

.table-vault_table-vault__vpAVh {
    width: 100%;
    border-radius: 1rem;
    background-color: hsl(var(--green-gray-12))
}

.table-vault_table-vault__vpAVh thead th {
    --tw-border-opacity: 1 !important;
    border-bottom-color: rgb(27 28 29/var(--tw-border-opacity)) !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    font-size: 12px;
    line-height: 1.6em;
    letter-spacing: 0;
    font-weight: 400;
    color: hsl(var(--grey-5));
    border-bottom: 1px solid
}

.table-vault_table-vault__vpAVh thead th:first-child {
    padding-left: 1.5rem
}

.table-vault_table-vault__vpAVh thead th:last-child {
    padding-right: 1.5rem
}

.table-vault_table-vault__vpAVh tbody td {
    --tw-border-opacity: 1 !important;
    border-bottom-color: rgb(27 28 29/var(--tw-border-opacity)) !important;
    padding: 1rem .25rem;
    text-align: left;
    font-size: 14px;
    line-height: 1.6em;
    letter-spacing: 0;
    font-weight: 400;
    color: hsl(var(--grey-0));
    border-bottom: 1px solid
}

.table-vault_table-vault__vpAVh tbody td:first-child {
    padding-left: 1.5rem
}

.table-vault_table-vault__vpAVh tbody td:last-child {
    padding-right: 1.5rem
}

.table-vault_table-vault__vpAVh tbody tr:last-child td {
    border-bottom: 0 !important
}

.table-vault_table-vault__ZumGu {
    width: 100%;
    border-radius: 1rem;
    background-color: hsl(var(--green-gray-12))
}

.table-vault_table-vault__ZumGu thead th {
    --tw-border-opacity: 1 !important;
    border-bottom-color: rgb(27 28 29/var(--tw-border-opacity)) !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    font-size: 12px;
    line-height: 1.6em;
    letter-spacing: 0;
    font-weight: 400;
    color: hsl(var(--grey-5));
    border-bottom: 1px solid
}

.table-vault_table-vault__ZumGu thead th:first-child {
    padding-left: 1.5rem
}

.table-vault_table-vault__ZumGu thead th:last-child {
    padding-right: 1.5rem
}

.table-vault_table-vault__ZumGu tbody td {
    --tw-border-opacity: 1 !important;
    border-bottom-color: rgb(27 28 29/var(--tw-border-opacity)) !important;
    padding: 1rem .25rem;
    text-align: left;
    font-size: 14px;
    line-height: 1.6em;
    letter-spacing: 0;
    font-weight: 400;
    color: hsl(var(--grey-0));
    border-bottom: 1px solid
}

.table-vault_table-vault__ZumGu tbody td:first-child {
    padding-left: 1.5rem
}

.table-vault_table-vault__ZumGu tbody td:last-child {
    padding-right: 1.5rem
}

.table-vault_table-vault__ZumGu tbody tr:last-child td {
    border-bottom: 0 !important
}